@font-face {
  font-family: "Bebasneue";
  src:
  url("./src/fonts/Bebasneue/BebasNeueBold.ttf") format("truetype"),
  url("./src/fonts/Bebasneue/BebasNeueBold.woff") format("woff"),
  url("./src/fonts/Bebasneue/BebasNeueBold.woff2") format("woff2");
}

@font-face {
  font-family: "Opensans-Regular";
  src:
  url("./src/fonts/Opensans/OpenSans-Regular.ttf") format("truetype"),
  url("./src/fonts/Opensans/OpenSans-Regular.woff") format("woff"),
  url("./src/fonts/Opensans/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Opensans-Bold";
  src:
  url("./src/fonts/Opensans/OpenSans-Bold.ttf") format("truetype"),
  url("./src/fonts/Opensans/OpenSans-Bold.woff") format("woff"),
  url("./src/fonts/Opensans/OpenSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Opensans-SemiBold";
  src:
  url("./src/fonts/Opensans/OpenSans-SemiBold.ttf") format("truetype"),
  url("./src/fonts/Opensans/OpenSans-SemiBold.woff") format("woff"),
  url("./src/fonts/Opensans/OpenSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Opensans-Extrabold";
  src:
  url("./src/fonts/Opensans/OpenSans-ExtraBold.ttf") format("truetype"),
  url("./src/fonts/Opensans/OpenSans-ExtraBold.woff") format("woff"),
  url("./src/fonts/Opensans/OpenSans-ExtraBold.woff2") format("woff2");
}


